<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>中医科普网站--疾病大全</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style1.css">
</head>
<body>	
<div class="main">
    <!-- 引用公共头部 -->
    {include file="common/header" /}
    <div class="container">
        <div class="wrap">
            <div id="content">
                <div class="con">
                    <h2>疾病大全</h2>
                    <div style="text-align: center;margin-top: 10px;">
                        <form action="{:url('Sick/lst')}" method="post">       
                            <input type="text" class="input-text" style="width:200px;height: 30px;" placeholder="请输入您想查询的疾病名称" name="keywords">
                            <button type="submit" class="btn btn-success" style="height: 30px;">查询</button>
                        </form>
                    </div>
                    <div>
                    <!-- 循环读取一级分类和二级分类 -->
                    {volist name="sick" id="v1" empty="<p class='nulltext'>暂无相关信息</p>"}
                        <h3>{$v1.typename}</h3>   <!-- 一级分类的名字 -->
                        {volist name="sick1" id="v2"}
                            <!-- 判断二级分类的上级id是否等于一级分类的id -->
                            {if condition=" $v2['parent_id'] eq $v1['id'] "}  
                                <!-- 二级分类的名字 -->
                                <a href="{:url('Sick/detail',array('id'=>$v2['id']))}">{$v2.typename}</a>|
                            {/if} 
                        {/volist}
                    {/volist}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
    		<div class="col-md-12 text-center">
                <p><small>&copy; All Rights Reserved.<a href="index.html" target="_blank" title="中医科普网站">中医科普网站</a></small></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>