<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>中医科普网站——论坛详情</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style1.css">

        <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/page.css"/>
        <script type="text/javascript" src="__PUBLIC__/js/jquery.simplePagination.js"></script>
</head>
<body>
<div class="main">	
    <!-- 引用公共头部 -->
    {include file="common/header" /}
    <div class="container">
        <div class="wrap">
            <div id="content">
                <div class="con">
                    <div>
                        <h3>论坛消息详情</h3>
                        <p>标题：{$list.title}<span style="float: right;">{$list.user}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$list.time}</span></p>
                        <p>内容：{$list.content}</p>
                        <div class="desc"></div>
                        <h4>回复内容</h4>
                            {if $list1}
                                {volist name="list1" id="vo"}
                                    <p>内容：{$vo.content}</p>
                                    <p>回复人：{$vo.user}&nbsp;&nbsp;&nbsp;&nbsp;{$vo.time}</p>
                                    <div class="desc"></div>
                                {/volist}
                            {/if}
                        <div class="desc"></div>
                    </div>
                    <div>
                        <h3>我要回复</h3>
                        <form action="{:url('Talk/add1',array('id'=>$list['id']))}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="talkid" value="{$list.id}">
                            <div class="row cl" style="margin-top: 10px;">
                                <label class="form-label col-2"><span class="c-red">*</span>内容：</label>
                                <textarea name="content" class="textarea"  placeholder="请输入要发布的内容..." nullmsg="内容不能为空！" onKeyUp="textarealength(this,500)" style="width: 800px; height: 100px;"></textarea>
                                <div class="col-1"> </div>
                            </div>
                            <div class="row cl" style="margin-top: 10px; margin-bottom: 10px;">
                                <div class="col-10 col-offset-2">
                                    <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit" style="width: 60px;height: 40px;margin-left: 400px;">
                                        回复
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
    		<div class="col-md-12 text-center">
                <p><small>&copy; All Rights Reserved.<a href="index.html" target="_blank" title="中医科普网站">中医科普网站</a></small></p>
            </div>
    	</div>
    </div>
</div>
</body>
</html>